<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twinfluencer</title> 


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}">\x3C/script>')</script>
<script src="{{ url_for('static', filename='js/alert.js') }}"></script>
    <!-- Loading Bootstrap -->
    <link href="{{url_for('static' ,filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{url_for('static' ,filename='css/flat-ui.css') }}" rel="stylesheet">
    <link href="{{url_for('static' ,filename='css/style.css') }}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{url_for('static' ,filename='css/images/favicon.ico') }}">


</head>
<body>
<!-- all the menu and stuff -->
{% block body %}{% endblock %}
<!-- footer goes here -->

<div id="footer">
    <div class="container">
        <p class="text-muted small text-center">Made by <a href="http://www.twitter.com/stc043">@stc043</a> .Powered by flask, Twitter bootstrap and the Flat UI kit. </p>
    </div>
</div>



</body>
</html>
